@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-bell {
    opacity: 1;
    color: #dddbd9;
}
.glyphicon-trash:before {
  content: "\e020";
}
.glyphicon-bell:before {
  content: "\e123";
}
.glyphicon-ok:before {
  content: "\e013";
}
.glyphicon-remove:before {
  content: "\e014";
}
@font-face {
    font-family: 'instaThin';
    src: url('../fonts/Montserrat-Hairline.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'instaLight';
    src: url('../fonts/Montserrat-Light.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'instaRegular';
    src: url('../fonts/Montserrat-Light.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'instaBold';
    src: url('../fonts/Montserrat-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'instaBlack';
    src: url('../fonts/Montserrat-Black.otf');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: Montserrat, sans-serif;
	background-color: #FAFAFA;
	color: #4E606A;
    margin-bottom: 30px;
}
body a {
	text-decoration: none;
	color: #30618B;
}

.headerProfile {
	height: 45px;
	background-color: white;
	color: #2065a2;
	font-size: 0.7em;
	padding: 10px 10px 10px 10px;
	border-bottom: 1px solid #dddbd9;
	margin: 0 0 30px 0;
	display: flex;
	align-items: center;
}

.headerProfile img {
	width: 100px;
	height: auto;
}

.headerContent{
	width: 78%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
#notificationIcon{
    position: relative;
	margin: -100px;
}
.searchBar input {
	border: 1px solid #dddbd9;
	border-radius: 30px;
	width: 200px;
	background-color: #FAFAFA;
	padding: 8px;
}
#txtSearch::-webkit-input-placeholder{
	padding-left: 0;
	text-align: center;
}
#notifTitle{
    font-size: 1.5em;
    text-align: center;
}
.headerUsername{
	font-size: 1.3em;
}
.profileInfo {
	width: 50%;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
}

.profilePhoto {
	object-fit: cover;
	max-width: 100px;
	height: 100px;
	border-radius: 100%;
	float: left;
	margin-left: 50px;
	margin-right: 30px;
}

.profileDetails {
	float:left;
	padding-top: 15px;
	margin-left: 35px;
}

.userName {
	font-family: 'instaLight';
	margin-right: 10px;
}

.editProfile {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.btnEditProfile {
	background-color: #fbf9f7;
	border:1px solid #4E606A;
	font-family: 'instaLight';
	color: #ACA9A4;
	padding:4px 4px 4px 4px;
	font-size: 0.6em;
	border-radius: 5%;

}

.btnEditProfile:hover {
	color: #4E606A;
    cursor: pointer;
}

.btnFollow, .btnFollowPrivate, .btnUnfollow, .btnPrivateRequested, .unfollowed {
    background-color: #fbf9f7;
	border:1px solid #719DBE;
	font-family: 'instaLight';
    text-transform: uppercase;
	color: #719DBE;
	padding:4px 4px 4px 4px;
	font-size: 0.6em;
	border-radius: 5%;
}
.btnFollow:hover, .btnFollowPrivate:hover, btnPrivateRequested:hover, .btnUnfollow:hover {
    cursor: pointer;
    color: #5A8ACE;
}

.followed, .btnUnfollow {
    background-color: #60C029;
    border:1px solid #60C029;
    color: white;
}

.userDescription {
	font-size: 0.7em;
	margin-bottom: 10px;
}

.userStats {
	display: flex;
	flex-direction: row;
	font-size: 0.7em;
}
.userStats li {
	margin-right: 10px;
}

.userStats span {
	font-weight: bold;
}
.feedContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.profileFeed {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 90%;
	margin: 0 auto 0 auto;
}
.feedBox{
	position: relative;
	margin: 20px;
	height: 300px;
	width: 300px;
}
.feedBox img{
	object-fit: cover;
	height: 300px;
	width: 300px;
}
.overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}
.feedBox:hover .overlay{
	display: block;
	background: rgba(0, 0, 0, .6);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.overlay img{
	width: 30px;
	height: 27px;
	margin: 0 0 10px 0;
}
.overlay div{
	margin: 25px;
}
.overlay p{
	color: white;
}
.feedNav{
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 60px;
	width: 600px;
	background-color: #FFFFFF;
	border: 1px solid #EDEEEE;
}
.feedNavPic{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin: 0 0 0 10px;
	object-fit: cover;
}
.feedNavUsername{
	margin: 0 0 0 10px;
	font-size: .8em;
}
.feedNavTimestamp{
	font-family: 'instaRegular', 'sans-serif';
	margin-left: auto;
	margin-right: 10px;
	margin-top: -2px;
	font-size: .8em;
	color: #A5A9BF;
}

.indexFeed {
    width: 100%;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.indexFeed .feedPic {
    width: 600px;
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
	border: 1px solid #EDEEEE;
	overflow: hidden;
	margin: 3px 0 0 0;
}
.feedPic img {
    width: 100%;
	max-height: 100%;
}
.feedFooter{
	height: 100%;
	width: 600px;
	border: 1px solid #EDEEEE;
	margin: 1px 0 50px 0;
	background-color: white;
}
.feedFooterTop{
	border-bottom: 1px solid #EDEEEE;
	width: 530px;
	margin: 0 auto 0 auto;
	padding: 10px 0 10px 0;
}
.feedFooterTop p{
	font-size: .9em;
}
.feedFooterTop ul li{
	margin: 10px 0 0 0;
	font-size: .8em;
	color: #30618B;
	font-family: 'instaBold', 'sans-serif';
}
.feedFooterTop ul li span{
	color: #000000;
	font-family: 'instaRegular', 'sans-serif';
}
.feedFooterBottom{
	width: 530px;
	margin: 0 auto 0 auto;
	padding: 20px 0 20px 0;
}
.feedFooterHeart{
	float: left;
}

#commentField{
	width: 300px;
	margin: 10px 0 0 0;
	font-size: .8em;
	padding: 10px 0 10px 10px;
	border: none;
	color: #7B7A7C;
}

.btnLoadMore {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    border: 1px solid #30618B;
    text-transform: uppercase;
    font-family: 'instaRegular';
    background-color: #fbf9f7;
    color: #30618B;
}
.btnLoadMore:hover {
    cursor: pointer;
    font-family: 'instaBold';
}
.loadMoreContainer {
    text-align: center;
    width: 200px;
    margin: 20px auto 20px auto;
}
.container {
    width: 80%;
    margin: 1.5em auto 3em auto;
	max-width: 350px;
}
.logo {
    display: block;
    width: 100%;
    margin: 0 auto 0 auto;
}
.introduction {
	color: #ACA9A4;
	font-family: instaRegular;
	font-weight: 600;
	font-size: 1.1em;
	text-align: center;
	line-height: 1.1em;
	margin: 0 0 2em 0;
}
.btnLoginFacebook{
	display: block;
	text-align: center;
	color: white;
	background-color: #3E90D9;
	padding: .8em 0 .8em 0;
	text-decoration: none;
	font-size: .9em;
	border-radius: 5px;
	margin-bottom: 2em;
}
.btnLoginFacebook:hover{
	background-color: #2065a2;
}
.separator-line{
	display: block;
	background-color: #ACA9A4;
	height: 1px;
	margin-bottom: -.6em;
}
.separator-or{
	display: block;
	color: #ACA9A4;
	background-color: #FBF9F7;
	text-align: center;
	width: 50px;
	margin: 0 auto 0 auto;
	padding: 10px;
}
.form{
	margin-top: 1em;
}
.form input{
	display: block;
	width: 99%;
	height: 30px;
	margin-bottom: 8px;
	border: 1px solid #dddbd9;
}
::-webkit-input-placeholder {
	font-family: instaRegular;
	font-size: 1.1em;
	padding-left: 1em;
}

::-moz-placeholder { /* Firefox 18- */
	font-family: instaRegular;
	font-size: 1.1em;
	padding-left: 1em;
}

::-moz-placeholder {  /* Firefox 19+ */
	font-family: instaRegular;
	font-size: 1.1em;
	padding-left: 1em;
}

:-ms-input-placeholder {
	font-family: instaRegular;
	font-size: 1.1em;
	padding-left: 1em;
}

input[type="submit"]{
	width: 100%;
	font-family: instaRegular;
	font-weight: 900;
	color: white;
	background-color: #3E90D9;
	height: 40px;
	font-size: .9em;
	border-radius: 5px;
	margin: 1em 0 1em 0;
 }
input[type="submit"]:hover{
    background-color: #2065a2;
}
input[type="file"]{
    border: 0px;
}
.error{
	font-family: instaLight;
	color: red;
	text-align: center;
	font-size: .9em;
	margin-bottom: 1em;
	line-height: 1.5em;
}
.success {
    font-family: instaLight;
	color: green;
	text-align: center;
	font-size: .9em;
	margin-bottom: 1em;
	line-height: 1.5em;
}
#floatingBtn {
    color: white;
    position: fixed;
    text-align: center;
    bottom: 20px;
    right: 5%;
    box-sizing: border-box;
    padding-top: 20px;
    line-height: 0px;
    font-size: 1.6em;
    background-color: #2065a2;
    width: 45px;
    height: 45px;
    border: 0px;
    border-radius: 100%;
}
#floatingBtn a:active,a:link,a:visited {
    text-decoration: none;
}
#floatingBtn:hover {
    bottom: 22px;
}
footer p{
	font-family: instaLight;
	color: #ACA9A4;
	text-align: center;
	font-size: .9em;
	line-height: 1.5em;
}
footer a{
	text-decoration: none;
	color: #4E606A;
}
footer span{
	color: #818380;
}

p {
margin-top : 15px;
font-size: .8em;
}
button {
    cursor: pointer;
}
.openbaar {
    background-color: #fbf9f7;
	border:1px solid #60C029;
	font-family: 'instaLight';
	color: #60C029;
	padding:4px 4px 4px 4px;
	font-size: 0.6em;
	border-radius: 5%;
    text-transform: capitalize;
}
.openbaar:hover {
    font-family: 'instaBold';
}

.private {
    background-color: #fbf9f7;
	border:1px solid #ce4844;
	font-family: 'instaLight';
	color: #ce4844;
	padding:4px 4px 4px 4px;
	font-size: 0.6em;
	border-radius: 5%;
    text-transform: capitalize;
}

.private:hover {
   font-family: 'instaBold'; 
}
.notifList {
    max-width: 400px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 20px;
    display: flex;
}
.notifList p {
    margin-left: 10px;
    font-size: 1em;
    padding: 20px 20px 0px 20px;
}
.notifImg {
    width: 100px;
    height: 100px;
}
.notifList img {
    margin-left: 10px;
    margin-right: 10px;
}
.notifList span {
    padding-left: 10px;
    padding-top: 35px;
}
#figureUploadPreview{
	margin: 0;
	width: 350px;
	height: 350px;
	display: none;
}
figure{
	margin: 0;
}
#uploadPreview{
	display: block;
	width: 350px;
	height: 350px;
	object-fit: cover;
}
select{
	display: block;
}
#dropdownFiltersLabel{
	margin: 20px 0 0 0;
	display: none;
}
#dropdownFilters{
	display: none;
	margin: 10px 0 20px 0;
}
#descriptionbox{
	width: 340px;
}
.postDetail{
	background-color: grey;
	width: 900px;
	height: 400px;
	margin: 100px auto 0 auto;
	display: flex;
	box-shadow: 0px 3px 10px #a5a5a6;
}
.innerLeft{
	width: 600px;
	height: 400px;
}
.innerLeft img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	background-color: gold;
}
.innerRight{
	width: 400px;
	height: 400px;
	background-color: white;
}
.innerRightContainer{
	padding: 2em;
}
.innerRightHeader{
	height: 50px;
	border-bottom: 1px solid #dddbd9;
}
.innerRightSecondHeader{
	height: 50px;
	border-bottom: 1px solid #dddbd9;
}
.innerRight .commentFeed{
	height: 200px;
	border-bottom: 1px solid #dddbd9;

}
.commentFeed ul {
	padding: 10px 10px 10px 0;
}
.commentFeed ul li{
	font-family: 'instaRegular', 'sans-serif';
	font-size: .8em;
	color: black;
	margin: 0 0 5px 0;
}
.commentFeed ul li span{
	font-family: 'instaBold', 'sans-serif';
	color: #30618B;
}
.avatar{
	object-fit: cover;
	height: 50px;
	width: 100px;
	border-radius: 50%;
	float: left;
	display: inline-block;
	margin: -10px 0 0 0;
}
.avatarPostDetail{
	object-fit: cover;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	float: left;
	display: inline-block;
	margin: -10px 0 0 0;
}
.name{
	font-family: 'instaBold', 'sans-serif';
	font-size: .9em;
	display: inline-block;
	margin: 9px 0 0 20px;
	color: #30618B;
}
.innerRightSecondHeader{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.likes{
	font-size: .9em;
	color: #7B7A7C;
}
.timestamp{
	font-size: .9em;
	color: #7B7A7C;
}
.commentFeed {
	overflow-y: scroll;
}
.innerRightFooterForm{
	display: flex;
	flex-direction: row;
	align-items: center;
}
#heart{
	margin: 10px 0 0 0;
}
#commentField{
	width: 300px;
	margin: 10px 0 0 0;
	font-size: .8em;
	padding: 10px 0 10px 10px;
	border: none;
	color: #7B7A7C;
}
.glyphicon-trash {
	float: right;
	margin-top: -25px;
	opacity: .5;
	cursor: pointer;
	visibility: hidden;
}
#visible {
	visibility: visible;
}
.editContainer {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.editContainer h1 {
	color: #06365F;
	font-family: 'instaRegular', 'sans-serif';
	font-size: 1.3em;
	margin-bottom: 15px;
	margin-top: 30px;
	padding-bottom: 10px;
	border-bottom: 1px solid #dddbd9;
}
.editContainer form {
	margin-bottom: 50px;
}

.editContainer label {
	width: 150px;
	display: inline-block;
	font-size: 0.8em;
}
.editContainer input {
	margin-bottom: 10px;
	width: 250px;
	border-radius: 5px;
	border: 1px solid #dddbd9;
}
.formDetails select, textarea {
	margin-bottom: 10px;
	border-radius: 5px;
	width: 250px;
	border: 1px solid #dddbd9;
}

.formDetails textarea {
	vertical-align: top;
}
.messageUpdate{
	font-family: 'instaBold', 'sans-serif';
	font-size: .7em;
	color: #00D062;
	margin: 20px 0 0 0;
}
.messageUpdateError{
	font-family: 'instaBold', 'sans-serif';
	font-size: .7em;
	margin: 20px 0 0 0;
	color: #FE3554;
}
#availability{
	display: block;
	font-size: .7em;
	margin: -10px 0 10px 0;
}
.avatar{
	object-fit: cover;
	max-width: 100px;
	height: 100px;
	border-radius: 100%;
	margin: 20px 35px 0 20px;
	float: left;
}
.formUpload{
	display: flex;
	flex-direction: column;
	margin-top: 80px;
}
.formUpload label{
	margin-bottom:1em;
}
.formUpload input[type="submit"]{
	font-family: instaLight;
	width: 10%;
	font-size: .8em;
}